@use "./normalize.scss";
@use "./variables.scss";
@use "./animations.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  // font-family: 'Roboto', sans-serif;
}

.container {
  width: 108rem;
  max-width: 90%;
  margin: 0 auto;
}