.navbar {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  background-image: linear-gradient(to bottom, var(--white-color), var(--white-color-transparent));
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
  }
  &__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    transition: all .5s ease-in-out;
    &--burger {
      width: 2.2rem;
      height: 0.4rem;
      margin-left: auto;
      background-color: var(--yellow-color);
      border-radius: 0.5rem;
      transition: all .5s ease-in-out;
      &::before,
      &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 3rem;
        height: 0.4rem;
        background-color: var(--yellow-color);
        border-radius: 0.5rem;
        transition: all .5s ease-in-out;
      }
      &::before {
        transform: translateY(-0.8rem);
      }
      &::after {
        transform: translateY(0.8rem);
      }
    }
    &.open &--burger {
      transform: translateX(-5rem);
      background-color: transparent;
      &::before {
        transform: rotate(45deg) translate(3.5rem, -3.5rem);
      }
      &::after {
        transform: rotate(-45deg) translate(3.5rem, 3.5rem);
      }
    }
  }
  @media (max-width: 768px) {
    &__list {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 100%;
      right: -100vw;
      margin: 0 auto;
      top: 8rem;
      height: 100vh;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      background-image: linear-gradient(to top, var(--white-color), var(--white-color-transparent));
      padding: 5rem 0;
      text-align: center;
      z-index: 2;
      font-size: 3rem;
      transition: right 0.5s ease-in-out;
      padding-bottom: 8rem;
      &.open {
        right: 0;
      }
      li {
        &:last-child {
          display: flex; 
          gap: 3rem;
        }
      }
    }
  }
  @media (min-width: 768px) {
    &__container {
      height: 10rem;
    }
    &__btn {
      display: none;
    }
    &__list {
      display: flex;
      position: static;
      gap: 6rem;
      align-items: center;
      font-size: 1.6rem;
      li {
        cursor: pointer;
        &:hover {
          color: var(--primary-color);
        }
        &:last-child {
          display: flex;
          gap: 2.4rem;
        }
        a {
          transition: transform 0.3s ease-in-out;
          &:hover {
            transform: translateY(-0.2rem);
          }
        }
      }
    }
  }
}