:root {
  --primary-color: #78246d;
  --gray-color: #fafafa;
  --white-color: #fff;
  --white-color-transparent: rgba(255, 255, 255, 0.67);
  --pink-color: #ebacac;
  --pink-color-light: #f9e6e6;
  --red-color-transparent: rgb(255, 0, 0, 0.2);
  --yellow-color: #b98b3c;
}